

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

/* Samarkan Font - Using Cinzel Decorative as fallback since Samarkan is decorative */
/* To use authentic Samarkan font, download it from dafont.com and place in /public/fonts/ */
@font-face {
  font-family: 'Samarkan';
  src: url('/fonts/Samarkan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Custom scrollbar */

@tailwind base;
@tailwind components;
@tailwind utilities; 